@import "tailwindcss";

:root {
  --primary-color: var(--color-gray-200);
  --primary-font-color: black;
}

.dark {
  --primary-color: var(--color-gray-900);
  --primary-font-color: rgb(221, 221, 221);
}

body {
  background-color: var(--primary-color);
  color: var(--primary-font-color);
}

.button {
    background-color:  var(--color-amber-700);
    color: var(--color-gray-100);
    border-radius: 0.25rem;
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
    box-shadow: 2px 7px 7px 2px rgba(0, 0, 0, 0.2);
}
.button:hover{
    background-color: var(--color-amber-800);
}

.box-area{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @media (min-width: 48rem) {
    .box-area {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

    gap: calc(var(--spacing) * 6) ;
}
.box-rounded{
    border-radius: var(--radius-xl) ;
    padding: calc(var(--spacing) * 6) ;
}


/*
CSS & Style: Util Links:
https://ui.shadcn.com/docs/components/menubar

https://lucide.dev/icons/

*/